<section class="account">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="account__title">
          <p>Current Account Deposit</p>
        </div>
      </div>
      <div class="col-12">
        <div class="account__bank">
          <label class="account__text" for="Agency">Agência</label>
          <input class="account__agency" type="number">
          <label class="account__text" for="Account">Número da Conta</label>
          <input class="account__number" type="number">
        </div>
      </div>
      <div class="col-5">
        <input type="text" readonly id="campo" class="teclado_text">
        <table class="table_teclado">
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
          </tr>
          <tr>
            <td colspan="2">0</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
